:root {
    --primary-color: #031D44;
    --secondary-color: #0050a3;
    --third-color: #70A288;
    --fourth-color: #DAB785;
    --fifth-color: #D5896F;
  }
  
  body {
    font-family: "Sansita" , sans-serif;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  h1{
    color: white;
  }
  
  footer {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    grid-gap: 1rem;
    background-color: var(--secondary-color);
    color: white;
    padding: 1.5rem 6rem;
    line-height: 1.5;
    align-items: center;
  }
  
  footer #lastModified {
    color: white;
  }
  
  .footer{
    align-items: center;
  }

  .sociallinks{
    margin: auto;
    display: block;
  }

  .sociallinks a{
    text-decoration: none;
  }

  .sociallinks img{
    border: 2px solid black;
    border-radius: 1.4rem;
    background-color: white;
    width: 50px;
  }
  
  @media(max-width:760px){ 
    footer{
      display: flex;
      flex-direction: column;
      padding: 1.5rem 1rem;
    }
  }