:root {
    --primary-color: #031D44;
    --secondary-color: #0050a3;
    --third-color: #70A288;
    --fourth-color: #DAB785;
    --fifth-color: #D5896F;

    font-family: Outfit, "Humanst521 BT", roboto, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  footer {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-gap: .2rem;
    background-color: var(--secondary-color);
    color: white;
    padding: 3rem 5rem 8rem 5rem;
    line-height: 1.5;
    align-items: center;
  }
  
  footer #lastModified {
    color: white;
  }
  
  .footer{
    align-items: center;
  }

  .sociallinks{
    margin: auto;
    display: block;
  }

  .sociallinks i{
    width: 30px;
    font-size: 25px;
  }
  
  @media(max-width:760px){ 
    footer{
      display: flex;
      flex-direction: column;
      padding: 3rem 2rem 8rem 2rem;
      align-items: baseline;
    }
  }



  